

.main-nav-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  height: 9vh;
  
}

.nav-home-link-div{
  display: flex;
  justify-self: center;
  font-size: 50px;
  text-decoration: none;
}

.nav-user-and-logout-display-div{
  display: flex;
}

.nav-username-div{
  margin-right: 10px;
}

.nav-logout-button-div{
  margin-right: 10px;
}

.nav-logout-button-div:hover {
  cursor: pointer;
}

.nav-post-question-link-div{
  margin-left: 10px;
}

.nav-login-button-div{
  margin-right: 10px;
}

.nav-post-question-link-div{}