
.sign-up-display-div {
  background: rgba(0, 0, 0, 0.7);
  margin-top: 15vh;
  margin-left: 30vw;
  margin-right: 30vw;
  padding-top: 3vh;
  padding-bottom: 5vh;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-title {
  font-size: 35px;
}