
/* .main-category-div {

} */

.category-link-container-div{
  background: rgba(0, 0, 0, 0.7);
  margin-top: 10vh;
  margin-left: 20vw;
  margin-right: 20vw;
}

.category-title-div {
  font-size: 35px;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 10vh;
  padding-top: 10px;
  padding-bottom: 10px;
}

.category-link-div {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.category-link {
  font-size: 25px;
  transition: ease-in-out 0.2s;
}

.category-link:hover {
  font-size: 30px;
  /* transform: scale(1.1); */
}