

.question-list-div {
  background: rgba(0, 0, 0, 0.7);
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 25px;
}

.question-link-div {
  padding-bottom: 2vh;
}