

.question-list-div {
  background: rgba(0, 0, 0, 0.7);
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 25px;
}

.question-link-div {
  padding-bottom: 3vh;
  padding-top: 3vh;
}

.category-name-div {
  background: rgba(0, 0, 0, 0.7);
  margin-top: 5vh;
  /* margin-left: 15vw; */
  /* margin-right: 15vw; */
  font-size: 40px;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.back-to-category-link-div {
  background: rgba(0, 0, 0, 0.7);
  margin-top: 50vh;
  max-width: 200px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-category-question-div {
  margin-top: 3vh;
}